.about-bantuan {
  color: #3c486b;
  font-size: 35px;
  font-weight: bold;
  font-family: PoppinsBold;
  margin-left: 70px;
}
.tentang-bantuan{
  margin-left: 70px;
}

.WhatsApp {
  position: absolute;
  margin-top: 100px;
 margin-left: 750px;

}

.WhatsApp > img {
  height: auto;
}

.quest {

  border-radius: 20px;
  width: 824px;
  height: 300px;
  padding: 40px;
}

.quest > h2 {
  color: #3c486b;
  text-align: left;
  margin-left: 30px;
}

.bantuan {
  margin-left: 30px;
  margin-right: 50px;
}

.konten {
  font-family: Poppins;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.icon {
  text-align: right;
  margin-top: -20px;
  position: sticky;
}

.pertanyaan {
  white-space: pre-line;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: black;
  font-size: 12px;
}

.WhatsApp:hover .pertanyaan {
  opacity: 1;
}