.berita-padding {
  margin: 50px 50px;
}

.accordion {
  background: var(--secondary-100, #f0f0f0);
  border-radius: 17.83px;
  margin: 10px;
}
.tambah_berita_button {
  border-radius: 30px;
  background: var(--primary-100, #3c486b);
  color: white;
  display: flex;
  width: 50rem;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 103%;
}

.centered {
  align-items: center;
}

.underlined_text {
  border-bottom: 2px dotted var(--primary-100, #3c486b);
  align-content: space-between;
}
