.add-berita {
    margin: 30px;
    font-family: PoppinsBold;
    /* font-size: ; */
}

.titlePage-berita {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    font-family: PoppinsBold;
    color: #3C486B;
}

.formInputBerita {
    font-size: 24px;
    font-weight: bold;
}

.buttonUploader {
    background-color: #F0F0F0;
    border: none;
}

.btnAddBerita {
    margin-left: 15.5rem;
    position: absolute;
    align-items: end;
    width: 278px;
    color: #3C486B;
    font-weight: bold;
}