.homepageBantuan {
  background-color: #d8dae1;
}

.homepage-bantuan-pages2 {
  margin: 10vh;
}
.about-page-bantuan {
  color: #3c486b;
  font-size: 35px;
  font-weight: bold;
  font-family: PoppinsBold;
  padding-left: 90px;
}

.tentang-teks {
  padding-left: 90px;
}

.quest-page-bantuan {
  padding-left: 90px;
  border-radius: 20px;
  width: 60vw;
}

.quest-page-bantuan > div {
  padding: 5px 1px 15px 5px;
}

.quest-page-bantuan > h2 {
  color: #3c486b;
  text-align: left;
  margin-left: 30px;
}
.konten-bantuan {
  font-family: Poppins;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.icon-bantuan {
  text-align: right;
  margin-top: -30px;
  position: sticky;
}

.WhatsApp-bantuan {
  margin-left: 65vw;
  margin-top: 25vh;
  position: absolute;
}

.WhatsApp-bantuan > img {
  height: auto;
}
.pertanyaan-bantuan {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: black;
  font-size: 12px;
}

.WhatsApp-bantuan:hover .pertanyaan-bantuan {
  opacity: 1;
}
