.sidebarContainer {
  border-radius: 0px 30px 30px 0px;
  background-color: #3c486b !important;
  height: 100vh;
  position: fixed;
}

.sidebarMenu {
  display: grid;
  justify-content: center !important;
  row-gap: 2rem;
}

.sidebarLogout {
  display: grid;
  justify-content: center;
}

.contentContainer {
  background-color: #f0f0f0;
}

.sidebarContainer2 {
  height: 100vh;
  background-color: #f0f0f0 !important;
}

.sidebar2Menu {
  display: grid;
  justify-items: center;
}

.adminProfile {
  display: grid;
  justify-items: center;
}

.notifikasiTitle {
  font-family: PoppinsBold;
  font-size: 40px;
  color: #3c486b;
}

.linkIcon {
  display: flex;
  gap: 20px;
  color: #b1b6c4;
  font-size: 18px;
  font-family: Poppins;
}

.linkIcon:hover {
  color: white;
}

.linkIcon:active {
  color: white;
}
