.homepage-bantuan-master {
  display: grid;
  justify-items: center;
}
.about-bantuan {
  color: #3c486b;
  font-size: 40px;
  font-family: PoppinsBold;
  display: flex;
  justify-content: space-between;
  gap: 900px;
  height: 8vh;
}

.about-bantuan > a > img {
  margin-left: -10vw;
}

.class-quest-bantu {
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 800px;
  height: 300px;
  padding: 20px;
}

.class-quest-bantu > h2 {
  color: #3c486b;
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
}

.bantuan-homepage1 {
  margin-left: 30px;
  margin-right: 50px;
}

.konten-homepage1 {
  font-family: Poppins;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.icon-homepage-bantuan {
  text-align: right;
  margin-top: -20px;
  position: sticky;
}
