.homepage-bantuan-master{
 zoom: 100%;
 height: 300px;
 margin-left: 0px;
}
.about-bantuan {
  color: #3c486b;
  font-size: 35px;
  font-weight: bold;
  font-family: PoppinsBold;
  margin: 0rem 0rem 0rem -10rem;
  
}
.WAIICON-about {
  padding: 0px 150px 10px 600px;
}

.WAIcon-about>img {
  border-radius: 20px;
  width: auto;
  height: auto;
}

.class-quest-bantu{
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 824px;
  height: 300px;
  justify-content: left;
  margin: 1rem 1rem 1rem -5rem;
}

.class-quest-bantu>h2 {
  color: #3c486b;
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
}

.bantuan-homepage1{
  margin-left: 30px;
  margin-right: 50px;
}

.konten-homepage1 {
  font-family: Poppins;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.icon-homepage-bantuan {
  text-align: right;
  margin-top: -20px;
  position: sticky;
}
