.privasi {
  color: #3c486b;
  font-family: PoppinsBold;
}

.head-privasi {
  margin-left: 14vw;
  font-family: PoppinsBold;
  font-size: 40px;
  width: 450px;
  line-height: 40px;
  color: #3c486b;
}

.content-privasi {
  width: 400px;
}

.titlePriv {
  color: #3c486b;
  font-family: PoppinsBold;
  font-size: 45px;
  padding-left: 10px;
}

.parafPriv {
  padding-left: 15px;
  color: #636d89;
  font-size: 25px;
}
