.privasi {
  color: #3c486b;
  font-family: PoppinsBold;
}

.contentMaster {
  margin-top: 50px;
}

.title-privasi {
  margin: 50px;
  font-family: PoppinsBold;
  font-weight: bold;
  font-size: 40px;
  width: 443px;
  line-height: 40px;
}

.titleContentPriv {
  font-family: PoppinsBold;
  font-weight: bold;
  font-size: 40px;
}
.paragrafContentPriv {
  font-family: PoppinsBold;
  
}

.content-privasi {
  width: 342px;
 
}
