.container-center {
    background-color: #FCFCFC;
    padding: 20px 10px 2px 10px;
    margin: 12px 24px 12px 24px;
    /* position: absolute; */
    border-radius: 10px;
    left: 25%;
    top: 10%;
    justify-content: center;
}
.formpengaturanadmin{
    margin: 12px 24px 12px 24px;
}

.gantipasswd {
    color: #3C486B;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.ant-form-item-label>label {
    color: #3C486B !important;
}
