body {
  margin: 5rem 10rem;
  background-color: aliceblue;
}

.homePage .section .content-1 .ant-typography {
  color: rgb(67, 67, 131);
  text-align: right;
}

.homePage .section .content-2 .ant-typography {
  color: rgb(67, 67, 131);
  text-align: left;
}

.homePage .content-1 .ant-typography .ant-typography-title,
.homePage .content-2 .ant-typography .ant-typography-title {
  font-family: PoppinsBold;
}

.homePage .content-1 .ant-typography .ant-typography-paragraph,
.homePage .content-2 .ant-typography .ant-typography-paragraph {
  font-family: Poppins;
}