.box-card-row {
    width: 100%;
    height: auto;
    background-color: #D8DAE1;
}
.box-title {
    padding: 0 400px;
    color: #3C486B;
}

.box-title-box {
    justify-content: end;
}
.card-row-title {
    font-size: 24px;
    margin-bottom: -30px ;
   
    
}
.card-row-para {
  font-size: 16px;
  text-align: right;
}
.card-row {
  
   
    align-items: center;
}
   
.card-landing {
    width: 301px;
    height: 333px;
    border-radius: 33px;
    margin: 30px;

}

.img-row{
    margin: 20px 0px;
}