.layout {
  display: flex;
  margin: 5rem 5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  padding: 0 20px;
}

.head {
  font-size: 45px;
  font-weight: bolder;
  font-family: PoppinsBold;
  color: #3c486b;
}

.box {
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  color: #3c486b;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #3c486b;
}

.search {
  width: 200px;
  height: 35px;
  border-radius: 20px;
}

.form {
  font-size: 32px;
  font-weight: bolder;
  color: #3c486b;
  border-radius: 30px;
}

.button {
  margin-top: -70px;
  margin-right: 20px;
  background-color: #3c486b;
  border-radius: 4px;
}

.input {
  padding: 10px;
  position: relative;
  background-color: #d8dae1;
  border-radius: 30px;
}
