.boxStyle {
  margin: 20px 0px 20px 20px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  display: inline-block;
  width: 300px;
}

.centeredTextStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}
.centeredTextStyletotal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}

.inputOption {
  margin-bottom: 20px;
  width: 200px;
}
.search {
  width: 200px;
  height: 35px;
  border-radius: 20px;
}

/* laporan.css */
.tableLaporan {
  border-radius: 20px 20px 0 0 !important;
  background-color: aqua;
}