.allfooter {
  background-color: #141414;
  padding-top: 5vh;
}

.definisi {
  color: white;
  padding-left: 100px;
}

.sisikanan p {
  font-size: 15px;
}

.contactus {
  color: white;
  margin-top: -20px;
}

.contactus p {
  font-size: 15px;
  margin-bottom: 5px;
}

.gmail-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gmail-footer p {
  font-size: 20px;
}

.wa-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wa-footer p {
  font-size: 20px;
}

.wrap-unduh-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-footer-unduh {
  margin-bottom: -60px;
  color: white;
}

.row2 {
  justify-content: center;
}
